data/smap/
data/dems/
data/poblados
data/represas
data/rivers_paute
data/sites_sg
data/waterways
data/
subcuencas/


*.h5
*.tif

Galapagos/

Pisos Bioclimaticos_Azuay/
Precipitacion_1970_2000_Azuay/
Temperatura_1970_2000_Azuay/
soil_moisture/